<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>


    <bean id="rockMusic"
          class="music.RockMusic">
    </bean>
    <bean id="edgyMusic"
          class="music.EdgyMusic">
    </bean>
    <bean id="classicalMusic"
          class="music.ClassicalMusic">
    </bean>

    <bean id="musicPlayer"
          class="music.MusicPlayer"
          scope="prototype">
        <property name="musicList">
            <list>
                <ref bean="rockMusic"/>
                <ref bean="edgyMusic"/>
                <ref bean="classicalMusic"/>
            </list>
        </property>

        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>
</beans>